apt install python3-tk 7zip poppler-utils python3-gi-cairo libpango1.0-dev libcairo2-dev fuse libfuse-dev
pip install pyperclip pycairo pdf2image opencv-python fusepy argon2-cffi tkinterdnd2 ttkbootstrap pillow
